<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:fragment="script">
    <!-- Vendor js -->
<!--    <script src="/assets/js/vendor.min.js"></script>-->
<!--    <script src="/assets/libs/jquery-knob/jquery.knob.min.js"></script>-->
<!--    <script src="/assets/libs/peity/jquery.peity.min.js"></script>-->
<!--    &lt;!&ndash; Sparkline charts &ndash;&gt;-->
<!--    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>-->
<!--    &lt;!&ndash; init js &ndash;&gt;-->
<!--    <script src="/assets/js/pages/dashboard-1.init.js"></script>-->
    <!-- App js -->
    <script src="/assets/iziToast/v1.4/iziToast.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery.validate-1.19.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/popper-v1.16.0.min.js"></script>
    <script src="/assets/js/jquery.number.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>



<!--    <script src="/assets/js/app.min.js"></script>-->
</th:block>
